.wrapper {
  margin-top: calc(var(--spacer) * 2);
}

.wrapper h2 {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-semi-bold-600);
  color: var(--ocean-grey-dark);
}

.wrapper p {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-normal);
  color: var(--ocean-grey-dark);
}

#who-is {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-18);
  font-weight: 500;
  color: #8d9099;
}

.highlightBox {
  max-width: 397px;
  max-height: 280px;
  border-radius: 12px;
  margin-bottom: calc(var(--spacer) * 3);
}

.highlightBox > span > h3 {
  font-family: var(--font-family-sans-serif);
  color: var(--sphereon-white);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semi-bold-600);
}

.highlightBox > div > p {
  color: var(--sphereon-white);
  font-size: var(--font-size-20);
}

.highlightBox > a {
  font-family: var(--font-family-sans-serif);
  color: var(--sphereon-white);
  font-size: var(--font-size-22);
}

.highlightBox > a:hover,
.highlightBox > a:focus,
.highlightBox > a:active {
  color: var(--ocean-grey-dark);
}

.learnMore {
  font-family: var(--font-family-sans-serif);
  color: var(--ocean-grey-dark);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-semi-bold-600);
  margin-left: 5%;
  margin-top: calc(var(--spacer) * 1.5);
  margin-bottom: calc(var(--spacer) * 3);
}

.learnMore:hover,
.learnMore:focus,
.learnMore:active {
  color: var(--sphereon-light-blue);
}

.container {
  display: flex;
  flex-direction: column;
}

.teaser {
  margin-top: var(--spacer);
}

.teaser p {
  width: 84%;
  margin-bottom: calc(var(--spacer) * 1.5);
}

.secondarySection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 2);
}

.points {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 1.9);
}

.points span {
  display: flex;
  gap: calc(var(--spacer) / 2);
  justify-content: flex-start;
  align-items: flex-start;
}

.checkmark {
  margin: 0;
  height: var(--spacer);
  width: var(--spacer);
}

.checkmark path {
  stroke: var(--brand-green) !important;
}

.pointText span {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-normal);
  color: var(--ocean-grey-dark);
  line-height: normal;
}

.pointText p {
  margin-bottom: var(--spacer);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-semi-bold-600);
  color: var(--ocean-grey-dark);
  line-height: normal;
}

@media screen and (min-width: 55rem) {
  .wrapper {
    margin-top: calc(var(--spacer) * 3);
  }
  .container {
    flex-direction: row;
    gap: calc(var(--spacer) * 3);
  }
  .teaser {
    padding-left: 5%;
    width: 89%;
  }
  .secondarySection {
    width: 40%;
  }
}
